{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% block title %}
Posts
{% endblock title %}
{% block content %}
    <h3 class="text-center text">Всего новостей на странице: {{ object_list|length }}</h3>
        <table>
            <tr>
                <td><b>Заголовок</b></td>
                <td><b>Категории</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Публикация</b></td>
            </tr>

            {% for post in posts %}
                    <td>
                        <a href="{% url 'post_detail' post.id %}"><u>Показать</u></a>
                        <a href="{% url 'news_edit' post.id %}"><u>Редактировать</u></a>
                        <a href="{% url 'news_delete' post.id %}"><u> Удалить </u></a>
        </td>
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>
                    {% for category in post.category.all %}
                    <a href="{% url "category_list" category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ post.time_in|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
            </tr>
                {% empty %}
        <h2>Новостей нет!</h2>
            {% endfor %}
        </table>

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}