{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}
<h1>Поиск новости или статьи:</h1>
<hr>
<form action="" method="get">
    {% csrf_token %}
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>
        <table>
            <tr>
                <td><b>Заголовок</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Публикация</b></td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.time_in|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
            </tr>
            {% empty %}
                <h2>Новостей нет!</h2>
            {% endfor %}
        </table>
{% endblock content %}